body{
    background-color: rgb(151, 197, 208);
}
.textarea-section{
    width: 50%;
    margin:  auto;
    text-align: center;
    border: 5px solid white;
    margin-top: 130px;
    background-color: aqua;
    border-radius: 20px;
    padding: 20px;
}
/* 
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center; */
textarea{
    /* border: 4px solid rgb(139, 94, 63);
    border-radius: 10px; */
    outline: none;
    font-size: 1.2rem;
    margin-top: 40px;
}
.btn{
    padding: 10px 25px;
    display: none;
}

#showdata{
    color: rgb(201, 69, 69);
}
h3{
    color: rgb(185, 52, 52);
}